:host {
  display: block;
}

.page-section {
  min-height: calc(100vh - 84px);
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.page-section-footer {
  min-height: auto;
}
